@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")

<style>
    .alert {
        margin: 2.5em 0;
        font-size: 1.2em;
    }
</style>

<script>
    $(document).ready(() => {
        window.setTimeout(() => {
            location.href = "/";
        }, 5000);
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="alert alert-danger fade show" role="alert">
                <strong>錯誤</strong> @ViewBag.Message，5秒後導向首頁。
            </div>
        </div>
    </div>
</div>
