#comments {
    margin-bottom: 4em;
}

.text-counter {
    color: #777;
    text-align: right;
}

.comment {
    margin-top: 3em;
}

.comment-section {
    background-color: #eee;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin: 1em 0em;
}

.comment-header {
    background-color: #eee;
    display: flex;
}

.comment-btn {
    color: #777;
    text-align: end;
}

.comment-stars {
    text-align: center;
}

.comment img {
    width: 75px;
    height: 75px;
    border: 1px solid #AAA;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.comment-date {
    color: #777;
    margin-left: 0.7em
}

.comment-owner {
    color: #007bff;
}

.comment-container {
    max-width: 900px;
    margin: auto;
}

.tool-btn {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0 1em;
}