@section css {
    <link href="~/Content/SearchPage/search-page.css" rel="stylesheet" />
}

@section scripts {
    <script>
        var query = "@ViewBag.Query";
        var cateId = @ViewBag.CateId;
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.9/vue.global.min.js"
            integrity="sha512-01DXK8J/RTf+INWJaGSa1a8ePsny+wTV63r5e+qcW4Gx7cgYKeX7uNvJminP4WvBthCi03aWdTmGLcZk/DTKKQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Scripts/SearchPage/search-page.js"></script>
}

<div class="prod-section">
    <div id="app" class="container">
        <div class="row ">
            <div class="col">
                <div class="filter d-flex justify-content-between rounded-lg p-3">
                    <div class="d-flex align-items-center">
                        <button @@click="sortByPrice" :class="priceButtonColor" class="btn mr-4">依價格排序 <i :class="{'rotate-180': priceOrderDesc}" class="fa fa-arrow-down rotate"></i></button>
                        <button @@click="sortByViews" :class="viewButtonColor" class="btn mr-4">依熱門度排序</button>
                    </div>
                    <div id="page" class="d-flex align-items-center">
                        <i v-cloak @@click="onPagePrevClick" :class="{'text-primary': currentPage > 1}" class="active page-nav fa fa-chevron-left fa-lg cursor-pointer p-2"></i>
                        <input v-model="currentPage" @@change="checkCurrentPage" class="input-page text-center" type="text" name="name" value="1" />
                        <span class="mx-3">/</span>
                        <span> {{totalPages}}</span>
                        <i @@click="onPageNextClick" :class="{'text-primary': currentPage < totalPages}" class="page-nav fa fa-chevron-right fa-lg cursor-pointer p-2"></i>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="mx-3">價格範圍：</span>
                        <input @@change="onInputLow" class="form-control" type="text" />
                        <span class="mx-3">~</span>
                        <input @@change="onInputHigh" class="form-control" type="text" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-2">
                <div class="panel-left rounded-lg" style="min-height:900px">
                    <div class="d-flex flex-column px-2 py-3 my-3">
                        <a v-cloak v-for="type in typeList" @@click.prevent="onTypeClick(type.id)" :href="'/item/list?cateId=' + type.id"
                           :class="{'type-active':cateId === type.id}" class="type px-2 py-2 mx-2 rounded-lg">{{type.type}}</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-10">
                <div v-if="list.length" class="row">
                    <div v-cloak v-for="item in filteredList" class="box rounded-lg flex-fill shadow-sm p-3 m-3" style="width: 250px">
                        <a class="card-text mb-2" :href="'/item/list/' + item.id">
                            <div class="text-center mb-3 flex-fill text-center">
                                <img class="card-img-top rounded-lg" :src="'/image/get/' + item.image" style="max-width:200px">
                            </div>
                            <p>{{item.brand}} {{item.model}} {{item.type}}</p>
                        </a>
                        <div class="card-body p-0">
                            <p class="card-text text-danger text-right">{{item.fprice}}</p>
                        </div>
                    </div>
                </div>
                <div v-else class="my-5">
                    <h2 class="no-result-title text-center">查無結果</h2>
                    <p class="no-result-body text-center">請嘗試提供其他關鍵字</p>
                </div>
            </div>
        </div>
    </div>
</div>