@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />

<style>
    .alert {
        margin: 2.5em 0;
        font-size: 1.2em;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="alert alert-danger fade show" role="alert">
                <span>
                    <i class="fa fa-times-circle-o"></i>
                    <strong> 錯誤</strong>
                    @(ViewBag.Message)<span id="sec"> 5 </span>秒後導向首頁。
                </span>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script>
    const sec = $("#sec");
    let count = 5;

    $(document).ready(() => {
        let timer = setInterval(() => {
            if (--count <= 0) {
                clearInterval(timer);
                location.href = "/";
            }

            sec.text(` ${count} `);
        }, 1000)
    });
</script>