.card {
    padding: 10px;
    margin: 100px  10px;
}

.card h2 {
    margin: 0 1em 1.5em 1em;
}

.card input {
    margin-bottom: 2em;
}

#msg {
    color: red;
    margin: 1em 0 0;
}

.hidden {
    display: none;
}
