[v-cloak] {
    display: none;
}

.box {
    background-color: #eee;
}

.title-bar {
    background-color: #eee;
}

.prod-section .container {
    margin-top: 2em;
}

.prod-section > .container > div {
    padding: 0.5em;
}

.no-result-title {
    color: #aaa;
    font-size: 3em;
    text-align: center;
}

.no-result-body {
    color: #aaa;
    font-size: 1em;
    text-align: center;
}

.filter {
    background-color: #d8dee9;
}

    .filter input {
        max-width: 100px;
    }

.panel-left {
    background-color: #E5E9F0;
}

.type {
    color: #434c5e;
}

.type:hover {
    color: #2e3440;
    background-color: #F8F9FA;
    text-decoration: none;
}

.type:active {
    background-color: #F8F9FA;
}

.rotate-180 {
    transform: rotate(-180deg);
}

.rotate {
    transition: transform ease-out 0.3s;
}
