.row {
    margin: 2em 0;
}

.card-body {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-bar {
    background-color: #eee;
}

.prod-section .container {
    margin-top: 5em;
}

.prod-section > .container > div {
    padding: 0.5em;
}

.no-result-title {
    color: #aaa;
    font-size: 3em;
    text-align: center;
}

.no-result-body {
    color: #aaa;
    font-size: 1em;
    text-align: center;
}